CV/face-detection/persons/*
CV/face-detection/captures/*
CV/fire-detection/captures/*
CV/object-detection/captures/*
CV/body-detection/captures/*
CV/gesture-control/captures/*
sketch_*/
n8n_data/crash.journal
n8n_data/database.sqlite
n8n_data/database.sqlite-shm
n8n_data/database.sqlite-wal
n8n_data/n8nEventLog*.log
arabic-*
models/whisper-medium/
yehia7b*
llm/*
llama/*
Computer Vision/*
*.docx
*.pdf
# ignore all md files other than readme.md
*.md
!readme.md
*.wav
fish*